.aside .notices {
  padding: 7px 30px;
  width: 473px;
  height: 169px;
  overflow: hidden;
  background: url('../assets/bg-notice.png') 100% / cover;
}

.aside h5 {
  font-size: 18px;
  color: #DEF1FF;
  width: 201px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: url('../assets/bg-title.png') 100% / cover;
}

.aside .notices .notice-container {
  margin-top: 10px;
}

.aside .notices .notice-container span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #DEF1FF;
}

.aside .notices .notice-container .notice-title {
  width: 140px;
}

.aside .notices .notice-container .notice-value {
  width: 333px;
  text-align: right;
}

.aside .count {
  margin-top: 25px;
  width: 530px;
  height: 90px;
  overflow: hidden;
}

.aside .count .count-item {
  float: left;
  margin-right: 22px;
  width: 162px;
  height: 92px;
  text-align: center;
  background: url('../assets/bg-count.png') 100% / cover;
}

.aside .count .count-item:last-child {
  margin-right: 0;
}

.aside .count .count-item .count-title {
  margin-top: 10px;
  color: #9BDEF0;
  font-size: 20px;
}

.aside .count .count-item .count-value {
  margin-top: 5px;
  color: #00F1FF;
  font-size: 32px;
}

.aside .count .count-item:last-child .count-value {
  color: #FF0000;
}

.congestion {
  margin-top: 35px;
  padding: 7px 30px;
  height: 559px;
  width: 473px;
  overflow: hidden;
  background: url('../assets/bg-congestion.png') 100% / cover;
}

.congestion table tr,
th {
  width: 176.67px;
  text-align: center;
  vertical-align: middle;
}

.congestion table thead tr th {
  font-size: 22px;
  font-weight: bold;
  color: #45AEFF;
}

.congestion table tr {
  height: 55px;
}

.congestion table thead tr {
  height: 70px;
}

.congestion table tr td {
  height: 55px;
  color: #CBE8FF;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}