#map {
  line-height: 617px;
  font-size: 28px;
  overflow: hidden;
  text-align: center;
  transform-origin: center;
}

.main-main {
  float: left;
  margin-left: 40px;
  width: 1280px;
  color: #ffffff;
}

.map-container {
  position: relative;
  margin-top: 43px;
  padding: 5px 2px 5px 4px;
  width: 1272px;
  height: 617px;
  background: url('../assets/bg-map.png') 100% / cover;
}

.footer {
  margin-top: 34px;
  width: 1285px;
  height: 214px;
  overflow: hidden;
  font-size: 18px;
  background: url('../assets/bg-footer.png') 100% / cover;
}

.footer .left {
  float: left;
}

.footer .left .top {
  padding-top: 7px;
  height: 40px;
}

.footer .left .title {
  display: inline-block;
  margin-left: 30px;
  height: 40px;
  width: 201px;
  line-height: 40px;
  font-size: 18px;
  color: #DEF1FF;
  text-align: center;
  background: url('../assets/bg-title.png') 100% / cover;
}

.footer .left .search-input {
  display: inline-block;
  margin: 0 0 0 15px;
  transform: translateY(5px);
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 348px;
  height: 33px;
}

.search-input span {
  display: inline-block;
  width: 67px;
  text-align: center;
  line-height: 33px;
}

.search-input input {
  display: inline-block;
  width: 280px;
  line-height: 33px;
  color: #ffffff;
  background: transparent;
}

.footer .left .image-container {
  margin: 19px 0 0 43px;
}

.image-container img {
  display: inline-block;
  margin-right: 13px;
  width: 177px;
  height: 122px;
}

.footer .group {
  float: left;
  margin-left: 40px;
}

.group .group-title {
  margin-top: 30px;
  font-size: 18px;
}

.group .group-container {
  margin-top: 20px;
  width: 620px;
  overflow: hidden;
}

.group .group-container .item {
  float: left;
  width: 310px;
  font-size: 18px;
  line-height: 40px;
}

.group .group-container .item span {
  display: inline-block;
}

.group-container .item .value {
  margin-left: 20px;
}

.group-container .item .value {
  font-size: 16px;
}