#map {
  line-height: 617px;
  font-size: 28px;
  overflow: hidden;
  text-align: center;
  transform-origin: center;
}

.main-main {
  float: left;
  margin-left: 40px;
  width: 1280px;
  color: #ffffff;
}

.map-container {
  position: relative;
  margin-top: 43px;
  padding: 5px 2px 5px 4px;
  width: 1272px;
  height: 617px;
  background: url('../assets/bg-map.png') 100% / cover;
}

.footer {
  margin-top: 34px;
  width: 1285px;
  height: 214px;
  overflow: hidden;
  font-size: 18px;
  background: url('../assets/bg-footer.png') 100% / cover;
}

.footer .left {
  float: left;
}

.footer .left .top {
  padding-top: 7px;
  height: 40px;
}

.footer .left .title {
  display: inline-block;
  margin-left: 30px;
  height: 40px;
  width: 201px;
  line-height: 40px;
  font-size: 18px;
  color: #DEF1FF;
  text-align: center;
  background: url('../assets/bg-title.png') 100% / cover;
}

.footer .left .search-input {
  position: relative;
  display: inline-block;
  margin: 0 0 0 15px;
  transform: translateY(5px);
  border-radius: 10px;
  width: 349px;
  height: 35px;
  background: url("../assets//bg-search.png") 100% / cover;
}

.search-input input {
  display: inline-block;
  padding: 0 20px;
  width: 330px;
  line-height: 35px;
  color: #ffffff;
  background: transparent;
}

.footer .left .search-input ul {
  position: absolute;
  top: 35px;
  left: 10px;
  right: 10px;
  height: 120px;
  overflow: auto;
  background: #163080;
  list-style: none;
}

.footer .left .search-input ul li {
  height: 30px;
  line-height: 30px;
}

.footer .left .search-input ul li:hover {
  background: gray;
}

.search-input input:focus {
  outline: 0;
}

.footer .left .image-container {
  margin: 19px 0 0 43px;
}

.image-container img {
  display: inline-block;
  margin-right: 13px;
  width: 177px;
  height: 122px;
}

.footer .group {
  position: relative;
  float: left;
  margin-left: 40px;
}

.group .group-title {
  margin-top: 30px;
  font-size: 18px;
}

.group .group-title div {
  display: inline-block;
}

.group .group-title .grop-vlaue {
  margin-left: 20px;
  font-size: 16px;
}

.group .group-container {
  position: relative;
  margin-top: 20px;
  width: 620px;
  overflow: hidden;
}

.group .group-container .item {
  float: left;
  width: 310px;
  font-size: 18px;
  line-height: 40px;
}

.group .group-container .item span {
  display: inline-block;
}

.group .group-container .item .value {
  margin-left: 10px;
  font-size: 16px;
}

.group .volumn {
  position: absolute;
  top: 33px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group .volumn .volumn-container {
  position: relative;
  margin: 5px 0 0 6px;
  height: 100px;
  width: 6px;
  border-radius: 3px;
  background: #1E00FB;
}

.group .volumn .volumn-value {
  position: absolute;
  bottom: 0;
  width: 6px;
  border-radius: 3px;
  background: #60A7FF;
}

.group .volumn .volumn-num {
  margin-top: 7px;
  text-align: center;
  font-size: 14px;
}

.amap-info-content {
  width: 200px;
  border-radius: 10px;
  border: 2px solid #2773E6;
  background: #0D1D4D;
  text-align: center;
}

.bottom-center .amap-info-sharp {
  margin-left: -16px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #0D1D4D;
}

.amap-info-content .custom-info {
  color: #5EDCFF;
  font-size: 27px;
}